<h1> Welcome to Blackjack </h1>
<p>
  Hello <%="#{session[:username].capitalize}!" %>
</p>

Dealer's Cards:
  <ul>
    <% session[:dealer_cards].each do |card| %>
       <li> <%= card.to_s %> </li>
    <% end %>
  </ul>

</br>

Player's Cards:
  <ul>
    <% session[:player_cards].each do |card| %>
       <li> <%= card.to_s %> </li>
    <% end %>
  </ul>

  <br/>

<p> <%= session[:username].capitalize %> has: <%= calculate_total(session[:player_cards]) %>

What would you like to do?
<br/>

<% if @show_hit_or_stay_buttons %>
  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn btn-warning" value="Hit" />
  </form>
  <form action="/game/player/stay" method="post">
    <input type="submit" class="btn btn-success" value="Stay"/>
  </form>
<% end %>
</p>