<div id="game">
  <h3> Let's play some Blackjack <%="#{session[:username]}!" %> </h3>

  <% unless session[:skip_pot_update] == true %>
    <script> document.getElementById('player_pot_sidebar').innerHTML ='Player Pot: <%= session[:player_pot] - session[:player_bet] %>'; </script>
  <% end %>
  

  <script> document.getElementById('round_bet_sidebar').innerHTML ='<h5><strong>This round\'s bet: <%= session[:player_bet] %></strong></h5>'; </script>

  <script> document.getElementById('games_won_sidebar').innerHTML ='Games Won: <%= session[:games_won] %>'; </script>

  <script> document.getElementById('games_lost_sidebar').innerHTML ='Games Lost: <%= session[:games_lost] %>'; </script>

  <%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner %>
      <div class="alert alert-success"><%=@winner%></div>
    <% end %>

  <% if @play_again %>
    <p>
      <strong> Play again? </strong>
      <a href='/bet' class="btn btn-primary">Yes</a>
      <a href='/game_over' class="btn">No</a>
    </p>
  <% end %>

  <div class="well" id="dealer_cards">
    <% if session[:turn] != "dealer" %> 
      <h4>Dealer's Cards: </h4>
    <% else %>
      <h4>Dealer's Cards: <%= calculate_total(session[:dealer_cards])%></h4>      
    <% end %>

        <% session[:dealer_cards].each_with_index do |card,index| %>
          <% if session[:turn] != "dealer" && index == 0 %> 
            <img src='/images/cards/cover.jpg' class='card_image'>
          <% else %>
            <%= card_image(card) %>
          <% end %>
        <% end %>

    <% if @show_dealer_hit_button %>
      <p>
        <h5> Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit.</h5>
        <form id='dealer_hit' action='/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'>
        </form>
      </p>
    <% end %>
  </div>

  </br>
  <div class="well" id="player_cards">
    <h4>Player's Cards: <%= calculate_total(session[:player_cards])%></h4>
        <% session[:player_cards].each do |card| %>
           <%= card_image(card) %>
        <% end %>

        <!--<h5> 
          <%= session[:username] %> has $<%= session[:player_pot] %> and bet $<%= session[:player_bet] %> this round.
        </h5>-->
  </div>

    <br/>

  <!-- <p> <%= session[:username] %> has: <%= calculate_total(session[:player_cards]) %>. -->
  <% if @show_hit_or_stay_buttons %>
    What would <%= session[:username] %> like to do?
  <% end %>
  <br/>

  <% if @show_hit_or_stay_buttons %>
    <form id="hit_form" action="/game/player/hit" method="post">
      <input type="submit" class="btn btn-warning" value="Hit" />
    </form>
    <form id="stay_form" action="/game/player/stay" method="post">
      <input type="submit" class="btn btn-success" value="Stay"/>
    </form>
  <% end %>
  </p>
</div>